.root {
    -fx-background-color: #3C1C63;
}

#titulo {
	-fx-font-size: 14pt;
    -fx-font-family: "Arial Black";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.button {
	-fx-background-color: #185E7A;
	-fx-font-size: 10pt;
    -fx-font-family: "Arial Black";
    -fx-text-fill: white;
}

#btnUsuario .label {
	-fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-text-fill: #3C1C63;
}

#btnLogout {
	-fx-font-size: 12pt;
    -fx-font-family: "Arial Black";
    -fx-text-fill: gold;
}

.datapicker .text-field{-fx-text-fill: black;}

